In [ ]:
ASSIGNMENT 1

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

TASK 1

In [ ]:
d = {'english':['81','87','89','77','94','88','66','64','70','89','99'],'math':[98,76,80,69,77,98,76,80,69,54,77],'physics':[72,99,92,np.nan,68,90,88,72,66,53,67],'chemistry':[77,86,98,64,68,77,90,65,87,69,80],
'biology':[77,89,67,75,66,76,56,59,87,np.nan,56]}
d

{'english': ['81', '87', '89', '77', '94', '88', '66', '64', '70', '89', '99'],
 'math': [98, 76, 80, 69, 77, 98, 76, 80, 69, 54, 77],
 'physics': [72, 99, 92, nan, 68, 90, 88, 72, 66, 53, 67],
 'chemistry': [77, 86, 98, 64, 68, 77, 90, 65, 87, 69, 80],
 'biology': [77, 89, 67, 75, 66, 76, 56, 59, 87, nan, 56]}

In [ ]:
df= pd.DataFrame(d)
df

   english  math  physics  chemistry  biology
0       81    98     72.0         77     77.0
1       87    76     99.0         86     89.0
2       89    80     92.0         98     67.0
3       77    69      NaN         64     75.0
4       94    77     68.0         68     66.0
5       88    98     90.0         77     76.0
6       66    76     88.0         90     56.0
7       64    80     72.0         65     59.0
8       70    69     66.0         87     87.0
9       89    54     53.0         69      NaN
10      99    77     67.0         80     56.0

TASK 2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   english    11 non-null     object
 1   math       11 non-null     int64
 2   physics    10 non-null     float64
 3   chemistry  11 non-null     int64
 4   biology    10 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 568.0+ bytes

TASK 3

In [ ]:
df.describe()

            math    physics  chemistry    biology
count  11.000000  10.000000  11.000000  10.000000
mean   77.636364  76.700000  78.272727  70.800000
std    12.468141  14.629119  11.136345  11.979612
min    54.000000  53.000000  64.000000  56.000000
25%    72.500000  67.250000  68.500000  60.750000
50%    77.000000  72.000000  77.000000  71.000000
75%    80.000000  89.500000  86.500000  76.750000
max    98.000000  99.000000  98.000000  89.000000

TASK 4

In [ ]:
df.loc[4]

english        94
math           77
physics      68.0
chemistry      68
biology      66.0
Name: 4, dtype: object

TASK 5

In [ ]:
df.isnull().any() ### checking is there any null value in our dataset

english      False
math         False
physics       True
chemistry    False
biology       True
dtype: bool